<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
        <script
            src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <title>Page Title Here</title>
    </head>
    <style>
        body{
            font-family: 'Instrument Sans', sans-serif;
        }
        .testClass{
            background-color: #06194A;
            font-size: 1.5rem;
        }
    </style>
    <body>
        <div>
            <!--Nav Bar-->
            <!--<nav style="background-color: #06194A;">-->
                <nav class="testClass">
                    <div class="relative flex h-16 items-center justify-between">
                    <div class="flex flex-1 items-center justify-start">
                        <div class="w-full sm:ml-6 sm:block">
                        <div class="flex flex-wrap gap-x-3">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a href="#" class="group inline-flex items-center rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-white hover:text-gray-800 transition ">Students
                                <svg class="w-4 h-4 ml-1 mt-1 transition group-hover:text-gray-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>   
               
                            <a href="#" class="group inline-flex items-center rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-white hover:text-gray-800 transition ">Faculty
                                 <svg class="w-4 h-4 ml-1 mt-1 transition group-hover:text-gray-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            </a>
                            <a href="#" class="group inline-flex items-center rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-white hover:text-gray-800 transition">Academics
                                <svg class="w-4 h-4 ml-1 mt-1 text-white transition group-hover:text-gray-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            </a>
                            <a href="#" class="group inline-flex items-center rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-white hover:text-gray-800 transition">Internships
                                <svg class="w-4 h-4 ml-1 mt-1 text-white transition group-hover:text-gray-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            </a>
                            <a href="#" class="group inline-flex items-center rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-white hover:text-gray-800 transition">Placements
                                <svg class="w-4 h-4 ml-1 mt-1 text-white transition group-hover:text-gray-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            </a>
                            <a href="#" class="group inline-flex items-center rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-white hover:text-gray-800 transition">MOU's
                                <svg class="w-4 h-4 ml-1 mt-1 text-white transition group-hover:text-gray-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            </a>
                            <a href="#" class="group inline-flex  rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-white hover:text-gray-800 transition">Research
                                <svg class="w-4 h-4 ml-1 mt-1 text-white transition group-hover:text-gray-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            </a>
                            <a href="#" class="group inline-flex items-center rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-white hover:text-gray-800 transition">E-News Letter
                                <svg class="w-4 h-4 ml-1 mt-1 text-white transition group-hover:text-gray-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            </a>
                            <a href="#" class="group inline-flex items-center rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-white hover:text-gray-800 transition">Department Clubs
                                <svg class="w-4 h-4 ml-1 mt-1 text-white transition group-hover:text-gray-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            </a>
                            <a href="#" class="group inline-flex items-center rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-white hover:text-gray-800 transition">BOS
                                <svg class="w-4 h-4 ml-1 mt-1 text-white transition group-hover:text-gray-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            </a>
                            <a href="#" class="group inline-flex items-center rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-white hover:text-gray-800 transition">Alumni Interaction
                                <svg class="w-4 h-4 ml-1 mt-1 text-white transition group-hover:text-gray-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            </a>
                            <a href="#" class="group inline-flex items-center rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-white hover:text-gray-800 transition">Gallery
                                <svg class="w-4 h-4 ml-1 mt-1 text-white transition group-hover:text-gray-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            </a>
                        </div>
                        </div>
                    </div>

                        <!--
                            Dropdown menu, show/hide based on menu state.

                            Entering: "transition ease-out duration-100"
                            From: "transform opacity-0 scale-95"
                            To: "transform opacity-100 scale-100"
                            Leaving: "transition ease-in duration-75"
                            From: "transform opacity-100 scale-100"
                            To: "transform opacity-0 scale-95"
                        -->
                        
                        </div>
                    </div>
                    </div>
                </div>

                <!-- Mobile menu, show/hide based on menu state. -->
                <div class="sm:hidden" id="mobile-menu">
                    <div class="space-y-1 px-2 pt-2 pb-3">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a>
                    <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
                    <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
                    <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
                    </div>
                </div>
                </nav>

            
        </div>
    </body>
</html>